<template>
  <button @click="onClick">
    <template v-if="clickedOnce">
      Click again to confirm
    </template>

    <slot v-else />
  </button>
</template>

<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  created() {
    // @ts-ignore
    this.timeout = undefined;
  },

  data: () => ({
    clickedOnce: false,
  }),
  methods: {
    onClick() {
      // @ts-ignore
      clearTimeout(this.timeout);

      if (this.clickedOnce) {
        this.$emit('confirmed');
        this.clickedOnce = false;
      } else {
        this.clickedOnce = true;

        // @ts-ignore
        this.timeout = setTimeout(() => {
          this.clickedOnce = false;
          // @ts-ignore
          clearTimeout(this.timeout);
        }, 5 * 1000);
      }
    },
  },
});
</script>
