<template>
  <div>
    <div class="absolute">
      <button @click="showPopup = !showPopup" class="flex inline-flex px-3 py-2">
        <i class="fas fa-user-lock text-neutral-300 text-opacity-75 text-2xl"></i>
      </button>
    </div>
    <transition
      enter-active-class="duration-150 ease-out" enter-class="opacity-0 scale-95"
      enter-to-class="opacity-100 scale-100" leave-active-class="duration-100 ease-in"
      leave-class="opacity-100 scale-100" leave-to-class="opacity-0 scale-95"
    >
      <div v-if="showPopup" class="absolute mt-2 w-56 rounded-md shadow-lg focus:outline-none" 
            role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
        <input type="password" 
              class="block rounded-lg p-2 mr-5 bg-neutral-200 text-white text-opacity-75 focus:outline-none" 
              :value="currentPassword" 
              @keyup="setPassword($event)" />
      </div>
    </transition>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { usePassword } from "~/composables";

export default Vue.extend({
  methods: {
    setPassword(el: any) {
      this.currentPassword = el.target?.value;
      window.localStorage.setItem('APP_PASSWORD', el.target?.value);
    }
  },
  data: () => ({
    showPopup: false,
    currentPassword: usePassword()
  })
});
</script>
