<template>
  <div class="min-h-screen flex flex-col bg-neutral-400 overflow-hidden">
    <header class="relative">
      <div class="pt-6">
        <nav class="relative max-w-7xl mx-auto flex items-center justify-between px-4 sm:px-6 pb-4" aria-label="Global">
          <div class="flex items-center flex-1">
            <div class="flex items-center justify-between w-full md:w-auto">
              <NuxtLink to="/">
                <span class="sr-only">MorganLee</span>
                <img class="h-8 w-auto sm:h-10" src="/logo.png" alt="" />
              </NuxtLink>
              <div class="-mr-2 flex items-center md:hidden">
                <button type="button" @click="showMenu = !showMenu" class="rounded-md p-2 inline-flex
                    items-center justify-center text-gray-400 hover:bg-neutral-900
                    focus:outline-none focus:ring-2 focus-ring-inset focus:ring-white" aria-expanded="false">
                  <span class="sr-only">Open main menu</span>
                  <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
                  </svg>
                </button>
              </div>
            </div>
            <div class="hidden space-x-8 md:flex md:ml-10">
              <NuxtLink v-for="link in Navbar" :to="link.href"
                 class="text-base font-medium text-white hover:text-gray-300">
                <i v-if="link.icon !== ''" :class="link.icon" class="mr-2"></i>
                {{ link.name }}
              </NuxtLink>
            </div>
          </div>
          <div class="hidden md:flex md:items-center md:space-x-6">
            <a href="https://tbdscripts.com" class="inline-flex items-center p-7 py-3 border border-transparent
            text-base font-medium rounded-md text-white bg-neutral-900 bg-opacity-30">
              TBDScripts
            </a>
          </div>

        </nav>
      </div>
    </header>

    <transition
        enter-active-class="duration-150 ease-out" enter-class="opacity-0 scale-95"
        enter-to-class="opacity-100 scale-100" leave-active-class="duration-100 ease-in"
        leave-class="opacity-100 scale-100" leave-to-class="opacity-0 scale-95">
      <div class="absolute top-0 inset-x-0 p-2 transition transform origin-top md:hidden z-[100]" v-if="showMenu">
        <div class="rounded-lg shadow-md bg-neutral-300 ring-1 ring-black ring-opacity-5 overflow-hidden">
          <div class="px-5 pt-4 flex items-center justify-between">
            <div class="flex">
              <img class="h-8 w-8 inline" src="/logo.png" alt="" />
              <span class="text-white font-bold text-base inline ml-3 mt-auto mb-auto">MorganLee</span>
            </div>
            <div class="-mr-2">
              <a href="#" @click="showMenu = !showMenu" class="bg-neutral-300 rounded-md p-2 inline-flex
                items-center justify-center text-gray-400 hover:bg-gray-100 focus:outline-none focus:ring-2
                focus:ring-inset focus:ring-indigo-600">
                <span class="sr-only">Close menu</span>
                <span><b>X</b></span>
              </a>
            </div>
          </div>
          <div class="pt-5 pb-6">
            <div class="px-2 space-y-1">
              <NuxtLink v-for="link in Navbar" :to="link.href"
                 class="block px-3 py-2 rounded-md text-base font-medium text-blue-100 hover:bg-gray-50">
                <i v-if="link.icon !== ''" :class="link.icon"></i>
                {{ link.name }}
              </NuxtLink>
            </div>
          </div>
        </div>
      </div>
    </transition>

    <main class="flex-grow">
      <Nuxt />
    </main>


    <footer>
      <div class="max-w-7xl mx-auto py-12 px-4 overflow-hidden sm:px-6 lg:px-8 relative z-20">
        <nav class="-mx-5 -my-2 flex flex-wrap justify-center" aria-label="Footer">
          <div v-for="item in FLinks" :key="item.name" class="px-5 py-2">
            <a :href="item.href" class="text-base text-gray-500 hover:text-blue-600">
              {{ item.name }}
            </a>
          </div>
        </nav>
      <div class="mt-8 flex justify-center space-x-6">
          <a v-for="item in SLinks" :key="item.name" :href="item.href" class="text-gray-400 hover:text-gray-500">
            <span class="sr-only">{{ item.name }}</span>
            <i v-if="item.icon" :class="item.icon" class="text-2xl font-medium text-gray-500 hover:text-blue-600"></i>
          </a>
        </div>
      </div>
    </footer>
  </div>
</template>

<style>
  body {
    position: relative;
  }
  body::before {
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%230e0e10' fill-opacity='0.55'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  }
</style>

<script lang="ts">

interface Links {
  name: string;
  href: string;
  icon: ''
}
interface footerLinks {
  name: string;
  href: string;
}
interface footerSocials {
  name: string;
  href: string;
  icon: string;
}


const Navbar: Links[] = [
  {
    name: 'Home',
    href: '/#',
    icon: ''
  },
  {
    name: 'Projects',
    href: '/projects',
    icon: ''
  },
  {
    name: 'CDN Server',
    href: '/images',
    icon: ''
  },
];

const FLinks: footerLinks[] = [
  {
    name: 'Home',
    href: '/',
  },
  {
    name: 'Projects',
    href: '/projects',
  },
  {
    name: 'TBDScripts',
    href: 'https://tbdscripts.com',
  },
  {
    name: 'Panel',
    href: 'https://panel.morgan-lee.cc',
  },
]
const SLinks: footerSocials[] = [
  {
    name: 'Twitter',
    href: 'https://twitter.com/dottMorgan',
    icon: 'fab fa-twitter'
  },
  {
    name: 'Discord',
    href: 'https://discord.com/user/294197961112682498',
    icon: 'fab fa-discord'
  },
  {
    name: 'Github',
    href: 'https://github.com/Morgan-Moon',
    icon: 'fab fa-github'
  },
  {
    name: 'Steam',
    href: 'https://steamcommunity.com/id/OfficialMorgan',
    icon: 'fab fa-steam'
  },
]

export default {
  
  data: () => ({
    showMenu: false,
    Navbar,
    SLinks,
    FLinks,
  })
}
</script>
