<template>
  <div class="relative">
    <div class="w-2/3 text-center ml-auto mr-auto">
      <div class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3 bg-neutral-300 rounded-lg px-6 py-4">
        <div class="col-span-1 text-white sm:pb-2">
          <i class="fas fa-fingerprint text-lg mr-2"></i>
          {{ this.id }}
        </div>
        <div class="col-span-1 text-white sm:pb-2">
          <i class="fas fa-file-signature text-lg mr-2"></i>
          {{ this.name }}
        </div>
        <div class="col-span-1 text-white">
          <i class="fas fa-book-open text-lg mr-2"></i>
          {{ formatSize(this.size || 0) }}
        </div>
      </div>

      <div class="text-center mt-12">
        <img class="align-middle mx-auto" :src="this.src"  alt=""/>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Axios from "axios";
import { Context } from "@nuxt/types";
import prettyBytes from "pretty-bytes";

export default {
  head() {
    return {
      // @ts-ignore
      title: this.name,
      meta: [
          // @ts-ignore
          { hid: 'og:url', name: 'og:url', content: this.src },

          // @ts-ignore
          { hid: 'og:title', name: 'og:title', content: `MorganLee · ${this.id}` },
          { hid: 'og:site_name', name: 'og:site_name', content: 'Morgan\'s CDN server' },

          // @ts-ignore
          { hid: 'og:image', name: 'og:image', content: this.src },

          // @ts-ignore
          { hid: 'twitter:image', name: 'twitter:card', content: this.src },
          { hid: 'twitter:card', name: 'twitter:card', content: 'photo' }
      ],

      link: [
          // @ts-ignore
          { rel: 'image_src', href: this.src },
      ]
    }
  },

  async asyncData(ctx: Context) {
    const { data } = await Axios.get<IListFile[]>(`${ctx.env.appUrl}/api/cdn/${ctx.params.pathMatch}`);

    console.log(data);

    return data;
  },

  methods: {
    formatSize(size: number) {
      return prettyBytes(size);
    }
  }
}

</script>
