<template>
  <div>
    <div class="bg-neutral-400">
      <div class="max-w-7xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:px-8 relative z-20">
        <div class="text-center">
          <h2 class="text-base font-semibold text-blue-600 tracking-wide uppercase">
            Freelancer, Developer
          </h2>
          <p class="mt-1 text-4xl font-extrabold text-white sm:text-5xl sm:tracking-tight lg:text-6xl">
            CDN Server
          </p>
        </div>
      </div>
    </div>

    <div class="max-w-7xl mx-auto py-8 px-4 sm:px-6 lg:px-8 relative">
      <div class="text-left flex flex-grow">
        <password />
      </div>

      <div class="text-right">
        <select @change="onSortChange($event)" class="bg-neutral-200 text-white text-opacity-75 px-3 py-2 rounded-lg
                appearance-none focus:outline-none">
          <option value="newest-first">Newest first</option>
          <option value="oldest-first">Oldest first</option>
          <option value="size-asc">Size Ascending</option>
          <option value="size-desc">Size Descending</option>
        </select>

        <confirm-button @confirmed="deleteAll" class="bg-red-600 text-white px-3 py-2 rounded-lg
                        z-[900] hover:bg-red-700" type="button">Delete all
        </confirm-button>
      </div>

      <div role="list" class="grid grid-cols-2 gap-x-4 gap-y-8 sm:grid-cols-3 sm:gap-x-6 lg:grid-cols-4 xl:gap-x-8">
        <div v-for="(file, idx) in results" :key="idx" class="flex flex-col relative py-4">
          <nuxt-link :to="`/${file.id}`" class="flex-grow bg-neutral-200 rounded-t-lg focus-within:ring-2
              focus-within:ring-offset-2 focus-within:ring-offset-gray-100 focus-within:ring-indigo-500 overflow-hidden">
            <img :src="file.src" :alt="file.title" class="h-[250px] w-full" />

            <button type="button" class="absolute inset-0 focus:outline-none">
              <span class="sr-only">View details for {{ file.name }}</span>
            </button>
          </nuxt-link>

          <div class="flex rounded-b-lg">
            <div class="flex flex-grow px-3 py-2 bg-neutral-300 rounded-bl-lg items-center">
              <div class="flex-col">
                <p class="text-sm font-medium text-white truncate pointer-events-none">{{ file.id }}</p>
                <p class="text-sm font-medium text-gray-500 pointer-events-none">{{ formatSize(file.size || 0) }}</p>
              </div>
            </div>

            <button @click="deleteObject(file.id)" type="button" class="inline-flex items-center px-3 py-2 border
                    border-transparent rounded-br-lg font-medium shadow-sm text-white bg-red-600
                    hover:bg-red-700 focus:outline-none focus:ring-1 focus:ring-red-500">
              <i class="fas fa-trash"></i>
            </button>
          </div>
        </div>
      </div>
    </div>


    <div class="pagination max-w-7xl mx-auto py-8 px-4 sm:px-6 lg:px-8">
      <span class="relative z-0 inline-flex shadow-sm rounded-md">
        <button @click="previousPage" type="button" class="relative inline-flex items-center px-4 py-2 rounded-l-md border border-neutral-900
            bg-neutral-900 text-sm font-medium text-white hover:bg-blue-500 focus:z-10 focus:outline-none
            focus:ring-1 focus:ring-indigo-500 focus:border-blue-700"><
        </button>

        <button
            v-for="pageNum of pageElements"
            @click="setPage(pageNum)"
            :disabled="pageNum === '...'"
            :class="currentPage === pageNum && ['text-white hover:bg-blue-500'] || pageNum === '...' && ['text-white text-opacity-50 cursor-default'] || ['text-white text-opacity-75 hover:bg-blue-500']"
            class="-ml-px relative inline-flex items-center px-4 py-2 border border-neutral-900
            bg-neutral-900 text-sm font-medium focus:z-10 focus:outline-none
            focus:ring-1 focus:ring-indigo-500 focus:border-blue-700"
            type="button"
        >
          {{ pageNum }}
        </button>

        <button @click="nextPage" type="button" class="-ml-px relative inline-flex items-center px-4 py-2 rounded-r-md border border-neutral-900
            bg-neutral-900 text-sm font-medium text-white hover:bg-blue-500 focus:z-10 focus:outline-none
            focus:ring-1 focus:ring-indigo-500 focus:border-blue-700">>
        </button>
      </span>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import Axios from "axios";
import prettyBytes from "pretty-bytes";
import { usePassword } from "~/composables";
import Password from '~/components/password.vue';

export default Vue.extend({
  head: {
    title: 'CDN Server'
  },
  watchQuery: ['page', 'sortBy'],

  components: { Password },

  data() {
    return {
      appUrl: process.env.APP_URL,
    };
  },

  async asyncData({ env, query }) {
    const page = query.page || '1';
    const sortBy = query.sortBy || 'newest-first';

    const { data } = await Axios.get<PaginatedResults<IListFile>>(`${env.APP_URL}/api/cdn?page=${page}&sortBy=${sortBy}`);

    return {
      results: data.results,
      pagination: data.meta
    }
  },


  computed: {
    currentPage() {
      // @ts-ignore
      return this.pagination.page || 1;
    },
    maxPage() {
      // @ts-ignore
      return this.pagination.maxPage || 1;
    },
    pageElements() {
      const pages: (number | string)[] = [];
      const offset = 3;

      if (this.currentPage - offset > 1) {
        pages.push(1);
        pages.push('...');
      }

      for(let i = Math.max(1, this.currentPage - offset); i <= Math.min(this.maxPage, this.currentPage + offset); i++) {
        pages.push(i);
      }

      if (this.currentPage + offset < this.maxPage) {
        pages.push('...');
        pages.push(this.maxPage);
      }

      return pages;
    }
  },

  methods: {
    formatSize(size: number) {
      return prettyBytes(size);
    },

    onSortChange(event: any) {
      this.$router.push({
        path: this.$route.path,
        query: {
          sortBy: event.target.value,
        }
      });
    },

    async deleteObject(id: string) {
      const password = usePassword();
      if (!password) return alert('You do not have permission to perform this action');

      try {
        await Axios.delete(`${this.appUrl}/api/cdn/${id}`, {
          headers: {
            'Authorization': password
          }
        });
      } catch {
        return alert('You do not have permission to perform this action');
      }

      window.location.reload();
    },
    async deleteAll() {
      const password = usePassword();
      if (!password) return alert('You do not have permission to perform this action');

      try {
        await Axios.delete(`${this.appUrl}/api/cdn`, {
          headers: {
            'Authorization': password
          }
        });
      } catch {
        return alert('You do not have permission to perform this action');
      }

      window.location.reload();
    },

    setPage(page: number) {
      this.$router.push({
        path: this.$route.path,
        query: {
          page: page.toString(),
        }
      });
    },

    nextPage() {
      this.$router.push({
        path: this.$route.path,
        query: {
          page: String(this.currentPage === this.maxPage ? this.maxPage : this.currentPage + 1),
        }
      });
    },

    previousPage() {
      const page = Math.min(1, this.currentPage);

      this.$router.push({
        path: this.$route.path,
        query: {
          page: String(page === 1 ? 1 : page - 1),
        }
      });
    }
  }
});
</script>
