<template>
  <div>
    <div class="pt-10 bg-neutral-400 sm:pt-16 lg:pt-8 lg:pb-14 pb-28 lg:overflow-hidden">
      <div class="mx-auto max-w-7xl lg:px-8 relative">
        <div class="lg:flex lg:grid-cols-2 lg:gap-8">
          <div class="max-w-md px-4 sm:max-w-2xl sm:px-6 sm:text-center lg:px-0 lg:text-left lg:flex-grow">
            <div class="lg:py-24">
              <span class="inline-flex items-center text-white bg-black rounded-full sm:text-base lg:text-sm
                  xl:text-base hover:text-gray-200">
                <span class="px-4 py-1.5 text-xs font-semibold leading-5 uppercase tracking-wide bg-opacity-30
                      rounded-full" :class="isCommissionOpen ? 'bg-blue-600 text-blue-600' : 'bg-red-600 text-red-600'">
                  Commissions
                  <span v-if="isCommissionOpen"> Open</span>
                  <span v-else> Closed</span>
                </span>
              </span>
              <h1 class="mt-4 text-4xl tracking-wide font-extrabold text-white sm:mt-5 sm:text-5xl lg:mt-6 xl:text-6xl">
                <span class="block">MorganLee</span>
                <span class="block text-blue-600 mt-1">Freelance Developer</span>
              </h1>
              <p class="mt-4 text-base text-gray-300 sm:mt-5 sm:text-xl lg:text-lg xl:text-xl sm:mb-4">
                An 18 year old Freelance Developer specialising in web and nodejs development!
              </p>
            </div>
          </div>

          <div class="lg:py-24 lg:block ml-auto">
            <div class="w-full mx-auto max-w-md px-4 sm:max-w-2xl sm:px-6 lg:max-w-none lg:px-0 lg:flex lg:items-center lg:mt-10 mb-3">
              <div class="relative rounded-lg bg-neutral-900 px-6 py-5 w-full shadow-sm flex items-center space-x-3 max-w-lg">
                <div class="flex-shrink-0">
                  <img class="h-10 w-10 rounded-full" :src="dData ?
                     'https://cdn.discordapp.com/avatars/'+dData.id+'/' + dData.avatar + '.webp?size=128' :
                      '/discord.svg'" alt="" />
                </div>
                <div class="flex-1 min-w-0">
                  <a :href="dData ? 'https://discord.com/users/'+dData.id : '#'" class="focus:outline-none">
                    <span aria-hidden="true" class="absolute inset-0"></span>
                    <p class="text-sm font-bold">
                      <span v-if="dData" class="text-green-600">{{ dData.username}}#{{dData.discriminator}}</span>
                      <span v-else class="text-red-600">Offline</span>
                    </p>
                    <p class="text-sm text-gray-500 truncate">
                      <img class="h-5 w-5 rounded-full inline" src="/discord.svg" alt="" />
                      <span class="pt-2">Names M.. Double M</span>
                    </p>
                  </a>
                </div>
              </div>
            </div>
            <div class="w-gull mx-auto max-w-md px-4 sm:max-w-2xl sm:px-6 lg:max-w-none lg:px-0 lg:flex lg:items-center">
              <div class="relative rounded-lg bg-neutral-900 px-6 py-5 w-full shadow-sm flex items-center space-x-3 max-w-lg">
                <div class="flex-shrink-0">
                  <img class="h-10 w-10 rounded-full" :src="data ? data.image : '/music.webp'" alt="" />
                </div>
                <div class="flex-1 min-w-0">
                  <a :href="data ? data.url : '#'" class="focus:outline-none">
                    <span aria-hidden="true" class="absolute inset-0"></span>
                    <p class="text-sm font-medium text-gray-300">
                      <span v-if="data">{{ data.song }} &middot; {{ data.artist }}</span>
                      <span v-else>Idle</span>
                    </p>
                    <p class="text-sm text-gray-500 truncate">
                      <svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="spotify"
                           role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 512"
                           class="svg-inline--fa inline w-4 h-4">
                        <path fill="currentColor" d="M248 8C111.1 8 0 119.1 0 256s111.1 248 248 248 248-111.1
                          248-248S384.9 8 248 8zm100.7 364.9c-4.2 0-6.8-1.3-10.7-3.6-62.4-37.6-135-39.2-206.7-24.5-3.9 1-9
                          2.6-11.9 2.6-9.7 0-15.8-7.7-15.8-15.8 0-10.3 6.1-15.2 13.6-16.8 81.9-18.1 165.6-16.5 237 26.2 6.1
                          3.9 9.7 7.4 9.7 16.5s-7.1 15.4-15.2 15.4zm26.9-65.6c-5.2
                          0-8.7-2.3-12.3-4.2-62.5-37-155.7-51.9-238.6-29.4-4.8 1.3-7.4 2.6-11.9
                          2.6-10.7 0-19.4-8.7-19.4-19.4s5.2-17.8 15.5-20.7c27.8-7.8 56.2-13.6
                          97.8-13.6 64.9 0 127.6 16.1 177 45.5 8.1 4.8 11.3 11 11.3 19.7-.1
                          10.8-8.5 19.5-19.4 19.5zm31-76.2c-5.2 0-8.4-1.3-12.9-3.9-71.2-42.5-198.5-52.7-280.9-29.7-3.6
                          1-8.1 2.6-12.9 2.6-13.2 0-23.3-10.3-23.3-23.6 0-13.6 8.4-21.3 17.4-23.9 35.2-10.3 74.6-15.2
                          117.5-15.2 73 0 149.5 15.2 205.4 47.8 7.8 4.5 12.9 10.7 12.9 22.6 0 13.6-11 23.3-23.2 23.3z">
                        </path>
                      </svg>
                      <span class="pt-2">{{ data ? 'Currently listening' : 'Idle' }}</span>
                    </p>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="relative bg-neutral-900 pt-16 pb-20 px-4 sm:px-6 lg:pt-24 lg:pb-28 lg:px-8">
      <div class="absolute inset-0">
        <div class="bg-neutral-900 h-1/3 sm:h-2/3" />
      </div>
      <div class="relative max-w-7xl mx-auto">
        <div class="text-center">
          <h2 class="text-3xl tracking-tight font-extrabold text-white sm:text-4xl">My Prized Projects!</h2>
          <p class="mt- max-w-2xl mx-auto text-xl text-gray-500 sm:mt-4">
            Check out some of the work that I am most proud of!
          </p>
        </div>
        <div class="mt-12 max-w-lg mx-auto grid gap-5 lg:grid-cols-3 lg:max-w-none">
          <div v-for="project in projects" :key="project.title" class="sm:mb-3 flex flex-col rounded-lg shadow-lg overflow-hidden">
            <div class="flex-shrink-0">
              <img class="h-48 w-full object-cover" :src="`/projects/${project.imageUrl}`" alt="image" />
            </div>
            <div class="flex-1 bg-neutral-300 p-6 flex flex-col justify-between">
              <a class="flex-1 h-full inline-grid" :href="project.href">
                <p class="text-sm font-medium">
                  <span v-for="label in project.labels"
                        :class="labels[label].color"
                        class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium mx-2 sm:mb-1.5">
                    {{ labels[label].name }}
                 </span>
                </p>
                <p class="mt-3 text-xl text-white font-semibold">{{ project.title }}</p>
                <p class="mt-3 text-base text-gray-500">{{ project.description }}</p>
                <span class="mt-2 mt-auto text-base text-gray-500 pb-0 mb-0 flex-grow"><b>{{ project.timeFrame }}</b></span>
              </a>
            </div>
          </div>
        </div>
        <button onclick="window.location.href='/projects'" class="sm:mt-3 mt-flex transition ml-auto text-right items-center px-4 py-2 border-0 text-base
          font-medium rounded-md shadow-sm text-gray-500 bg-neutral-400 hover:text-white hover:bg-neutral-300 focus:outline-none
          focus:ring-0">
          View More of my work!
          <i class="fas fa-arrow-right ml-2"></i>
        </button>
      </div>
    </div>
  </div>
</template>
<script lang="ts">
import Vue from 'vue';
import Axios from 'axios';

interface SpotifyResponseData {
  song: string;
  artist: string;
  image: string;
  url: string;
}
interface DiscordResponseData {
  id: string;
  username: string;
  discriminator: string;
  avatar: string;
  public_flags: string;
}


interface Label {
  name: string;
  color: string;
}

const labels: Record<string, Label> = {
  laravel: {
    name: 'Laravel',
    color: 'bg-red-400 text-red-900'
  },
  db: {
    name: 'Data Handling',
    color: 'bg-green-400 text-green-900'
  },
  uiux: {
    name: 'UI/UX',
    color: 'bg-indigo-400 text-indigo-900'
  },
  html: {
    name: 'HTML/CSS',
    color: 'bg-yellow-400 text-yellow-900'
  },
}


interface Project {
  title: string;
  href: string;
  labels: Array<string>;
  description: string;
  imageUrl: string;
  timeFrame: string;
}

const projects: Project[] = [
  {
    title: '🧊 Cosmo - All in one suite',
    labels: [ 'laravel', 'db', 'html', 'uiux' ],
    imageUrl: 'cosmo.png',
    href: 'https://www.gmodstore.com/market/view/cosmo-the-all-in-one-suite',
    description: `Cosmo is a multi-parted addon coming soon to gmodstore.com It includes: an index page, store, forums,
        and many many more pages to come, all fully configurable from a safe and easy to use admin dashboard.`,
    timeFrame: 'May 3 2020 - now',
  },
  {
    title: '🖌️ Aurora - Prometheus Mod',
    labels: [ 'html', 'uiux' ],
    imageUrl: 'aurora.webp',
    href: 'https://www.gmodstore.com/market/view/awaiting-banners-aurora-1-prometheus-theme',
    description: `Aurora is a fully customizable theme for a well known store addon known as Prometheus
      This theme will make shopping on your site easy and simple. Aurora is very minimalistic and
      modern giving your store the face lift it needs.`,
    timeFrame: '25 Oct 2019 - now',
  },
  {
    title: '🌈 Clarix - Twin Babl Theme',
    labels: [ 'html', 'uiux' ],
    imageUrl: 'clarix.png',
    href: 'https://www.gmodstore.com/market/view/clarix-1-selling-babl-mod',
    description: `Clarix is a twin pack theme for an addon on gmodstore. This theme will make shopping on your site easy and simple.
      Clarix is very minimalistic and modern giving your store the face lift it needs.`,
    timeFrame: '6 Dec 2019 - now',
  },
]

const isCommissionOpen = process.env.COMMISSIONS === 'TRUE' || process.env.COMMISSIONS === 'true';

export default Vue.extend({
  async asyncData({ env }) {
    let { data, status } = await Axios.get<SpotifyResponseData | null>(`${env.APP_URL}/api/spotify`);
    let { data: dData, status: dStatus } = await Axios.get<DiscordResponseData | null>(`${env.APP_URL}/api/discord`);

    if (status !== 200) {
      data = null;
    } else if (dStatus !== 200) {
      dData = null;
    }

    return { data, dData }

  },
  data: () => ({
    projects,
    labels,
    isCommissionOpen,
  })
});
</script>
