<template>
  <div>
    <div class="bg-neutral-400">
      <div class="max-w-7xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:px-8 relative z-20">
        <div class="text-center">
          <h2 class="text-base font-semibold text-blue-600 tracking-wide uppercase">
            Freelancer, Developer
          </h2>
          <p class="mt-1 text-4xl font-extrabold text-white sm:text-5xl sm:tracking-tight lg:text-6xl">
            Previous Work
          </p>
          <p class="max-w-xl mt-5 mx-auto text-xl text-gray-300">
            Here are some of the projects I have been hired by others to do!
          </p>
        </div>
      </div>
    </div>


    <div class="relative bg-neutral-900 pt-16 pb-20 px-4 sm:px-6 lg:pt-24 lg:pb-28 lg:px-8">
      <div class="absolute inset-0">
        <div class="bg-neutral-900 h-1/3 sm:h-2/3" />
      </div>
      <div :key="i" v-for="(project, i) in Projects" class="lg:flex relative max-w-7xl mx-auto lg:mb-6 sm:mb-7 mb-10">
        <div class="relative bg-neutral-300 lg:flex lg:flex-row-reverse">
            <div class="h-56 sm:h-72 md:absolute md:h-full md:w-1/2" :class="i % 2 === 0 ? 'md:right-0' : 'md:left-0'">
              <img class="w-full h-full object-cover border-l-md"
                   :src="`/projects/${project.image}`" :alt="project.name" />
            </div>
            <div class="relative max-w-7xl mx-auto px-4 py-10 sm:px-6 lg:px-8">
              <div class="md:w-1/2 md:pl-10" :class="i % 2 === 0 ? 'md:mr-auto' : 'md:ml-auto'">
                <p class="text-base font-semibold uppercase tracking-wider text-gray-300">
                   <span v-for="tag in project.tags" :class="Tags[tag].color"
                         class="inline-flex items-center px-3.5 py-1.5 rounded-full text-xs font-medium mx-2">
                    {{ Tags[tag].name }}
                 </span>
                </p>
                <p class="mt-4 text-white text-3xl font-extrabold tracking-tight sm:text-4xl">{{ project.name }}</p>
                <p class="mt-3 text-lg text-gray-300">{{ project.summary }}</p>
                <div class="mt-8">
                  <div class="inline-flex rounded-md shadow">
                    <a :href="project.url" target="_blank" class="inline-flex items-center justify-center px-5 py-3 border
                      border-transparent text-base font-medium rounded-md text-white bg-neutral-400">
                      Visit this project
                      <svg class="-mr-1 ml-3 h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                           fill="currentColor" aria-hidden="true">
                        <path d="M11 3a1 1 0 100 2h2.586l-6.293 6.293a1 1 0 101.414 1.414L15 6.414V9a1 1 0 102 0V4a1 1 0 00-1-1h-5z"></path>
                        <path d="M5 5a2 2 0 00-2 2v8a2 2 0 002 2h8a2 2 0 002-2v-3a1 1 0 10-2 0v3H5V7h3a1 1 0 000-2H5z"></path>
                      </svg>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'

interface Project {
  name: string;
  tags: Array<string>;
  url: string;
  image: string;
  summary: string;
}
interface Tag {
  name: string;
  color: string;
}


const Tags: Record<string, Tag> = {
  laravel: {
    name: 'Laravel',
    color: 'bg-red-400 text-red-900'
  },
  db: {
    name: 'Data Handling',
    color: 'bg-green-400 text-green-900'
  },
  uiux: {
    name: 'UI/UX',
    color: 'bg-indigo-400 text-indigo-900'
  },
  html: {
    name: 'HTML/CSS',
    color: 'bg-yellow-400 text-yellow-900'
  },
  ts: {
    name: 'TypeScript',
    color: 'bg-blue-400 text-blue-900'
  },
  api: {
    name: 'API\'s',
    color: 'bg-pink-400 text-pink-900'
  },
}

const Projects: Project[] = [
    {
    name: 'TBDScripts',
    tags: ['laravel', 'db', 'uiux', 'html'],
    url: 'https://tbdscripts.com/',
    image: 'tbdscripts.png',
    summary: `A freelancing & designing agency, Having countless hours behind the screen working in many different environments,
    With an overall goal to provide a high quality product to paying customers.`
  },
    {
    name: 'LiveCops',
    tags: ['uiux', 'html'],
    url: 'https://livecops.io/',
    image: 'livecops.png',
    summary: `LiveCops is an All-In-One solution to help you earn a secondary income from everyday items. We provide all the software + 
    research from our in-house experts to ensure you successfully make a profit`
  },
    {
    name: 'GoodBoyBot',
    tags: ['db', 'ts', 'api'],
    url: '#',
    image: 'goodboybot.png',
    summary: `A Discord bot for a startup discord communtiy with a range of features! Currently showcasing a staff application system,
    whereby the user would be sent a series of questions from the bot in which to answer, then the form would be sent to the admins for a decision.
    Roles and access would be given automatically from the decision..`
  },
  {
    name: 'Buddha Proxies',
    tags: ['html', 'uiux'],
    url: 'https://buddhaproxies.com/',
    image: 'buddha.png',
    summary: `Buddha Proxies is a small company that sell Internet Proxies.
    My job whilst here was to create their homepage from a design that they had for me.`
  },

];

export default Vue.extend({
  data: () => ({
    Projects, Tags
  })
});

</script>
